{% extends 'base.html.twig' %}

{% block title %}Garage STEF{% endblock %}

{% block body %}

	<div class="single-item img-slide">
		<div class="figure p-3 single-img">
			<img src="/assets/images/home/stef.jpg" class="item-img" alt="" style="">
		</div>
		<div class="figure p-3 single-img">
			<img src="/assets/images/home/stef2.jpg" class="item-img" alt="" style="">
		</div>
		<div class="figure p-3 single-img">
			<img src="/assets/images/home/stef3.jpg" class="item-img" alt="" style="">
		</div>
	</div>

{% endblock %}
